<h1 align="center">
  Recipe Name: <%= @recipe.name.capitalize %>
</h1>
<hr />
<div class="well col-md-8 col-md-offset-2" %>
  <h4 class="center description">
    <strong>Descriptin: </strong>
  </h4>
  <hr />
  <%= @recipe.description %>
  <p>
    Created by:
  </p>
  <p>
    <small> <%= @recipe.chef.chefname %></small>
  </p>
</div>